* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.presentation__article, .product__article, .cardQuienes {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content auto;
  grid-template-areas: "img title" "img textCard"; }
  .presentation__article img, .product__article img, .cardQuienes img {
    grid-area: img; }
  .presentation__article h3, .product__article h3, .cardQuienes h3 {
    grid-area: title; }
  .presentation__article p, .product__article p, .cardQuienes p {
    grid-area: textCard; }

.product__article, .cardQuienes {
  margin: 1% 4%;
  border-radius: 15px; }
  .product__article img, .cardQuienes img {
    width: 28rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    grid-area: img; }
  .product__article h4, .cardQuienes h4 {
    font-family: "Monserrat", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    color: #2e3035;
    padding: .4em;
    padding-left: 2rem;
    margin-bottom: .8em;
    grid-area: title;
    background-color: #19d3da;
    border-top-right-radius: 15px; }
  .product__article p, .cardQuienes p {
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    color: #373a40;
    letter-spacing: .05em;
    text-align: justify;
    grid-area: textCard;
    padding-left: 2rem;
    padding-right: 2em; }

.productContainer__article, .articleCard {
  background-color: whitesmoke;
  border-radius: 15px; }
  .productContainer__article img, .articleCard img {
    width: auto;
    height: 15rem;
    object-fit: cover;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  .productContainer__article h4, .articleCard h4 {
    font-family: "Monserrat", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 800;
    color: #373a40;
    background-color: #19d3da;
    padding: .5em 1.25em; }
  .productContainer__article ul, .articleCard ul {
    font-family: "Monserrat", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    color: #373a40;
    letter-spacing: .03em;
    text-align: justify;
    margin: .8em 1.4em .8em 0em; }
  .productContainer__article p, .articleCard p {
    font-family: "Monserrat", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    color: #373a40;
    letter-spacing: .03em;
    text-align: justify;
    width: auto;
    padding: 1em; }

.actionCall--animation, .product__article--animation, .productContainer__article--animation, .articleCard--animation, .blogLinkContainer {
  transition: all 0.5s; }

.actionCall--animation:hover, .product__article--animation:hover, .productContainer__article--animation:hover, .articleCard--animation:hover, .blogLinkContainer:hover {
  transform: scale(1.06); }

.actionCall--animation:hover, .product__article--animation:hover h4 {
  background: #031b21;
  background: linear-gradient(42deg, #031b21 0%, #0aa0c5 47%, #19d3da 100%); }

.actionCall, .product--display, .productContainer, .blogLinkContainer {
  background-color: #373a40;
  box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.5);
  border-radius: 15px; }

.articleCard {
  background-color: whitesmoke;
  box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.5);
  border-radius: 15px; }

.formContainer form, .presentation--display, .product--display, .productContainer__article, .productContainer--flexColumn, .articleContainer, .articleCard, .blogLinkContainer {
  display: flex;
  flex-direction: column; }

.actionCall--flexRow, .productContainer--flex, .cardContainer--flex {
  display: flex;
  flex-flow: row wrap; }

.actionCall .actionCall__submit, .form__submit, .productContainer__submit, .articleCard div a {
  font-family: "Monserrat", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 800;
  color: whitesmoke;
  width: auto; }

.nav__logo--size {
  height: 70px; }

.nav--background {
  background-color: #0aa0c5; }

.nav--width {
  width: 95%; }

.nav__links a {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 800;
  color: #373a40; }

.banner__fondo--img {
  background-image: url(/img/box-cross-banner.jpg);
  background-size: cover;
  background-position: center center;
  margin-top: 95px; }

.banner__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 390px;
  margin-bottom: 4%;
  background: rgba(0, 0, 0, 0.45); }
  .banner__titulo h1 {
    font-family: "Lato", sans-serif;
    font-size: 160px;
    font-style: italic;
    font-weight: 800;
    color: #0aa0c5;
    margin-bottom: -2%; }

.banner__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 4.5rem;
  font-style: initial;
  font-weight: 900;
  color: #0aa0c5;
  letter-spacing: .6em;
  padding-bottom: 0.5rem;
  margin-right: -.6em; }

.banner__subtitle--page {
  font-family: "Lato", sans-serif;
  font-size: 3.5rem;
  font-style: initial;
  font-weight: 900;
  color: #19d3da;
  display: inline;
  letter-spacing: .3em;
  width: 18em;
  align-self: center;
  padding-right: -.3em;
  margin-top: -.6em;
  background: rgba(0, 0, 0, 0.75); }

.actionCall--flexRow {
  justify-content: center;
  align-items: center; }

.actionCall {
  margin: 3.5% 10%;
  text-align: center; }
  .actionCall h4 {
    padding: .7em;
    margin: 0%;
    font-family: "Monserrat", sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 900;
    color: #19d3da; }
  .actionCall input {
    padding: 4px;
    border-radius: 10px;
    margin: 4px;
    width: 300px;
    font-family: "Monserrat", sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 800;
    color: #373a40;
    letter-spacing: 2px;
    border: none; }
  .actionCall .actionCall__submit {
    background-color: #19d3da; }

.formContainer {
  margin: auto;
  background-color: #19d3da; }
  .formContainer h4 {
    font-family: "Monserrat", sans-serif;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 900;
    color: #373a40;
    margin: 1em; }
  .formContainer p {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    color: whitesmoke;
    letter-spacing: .05em;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 1.5em; }
  .formContainer form {
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .formContainer form div {
      align-content: stretch;
      margin-bottom: 1rem; }
      .formContainer form div label {
        padding: 7px;
        margin: 4px;
        font-family: "Monserrat", sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 800;
        color: #373a40;
        letter-spacing: 2px;
        width: 8rem; }
      .formContainer form div input, .formContainer form div select {
        padding: 7px;
        border-radius: 10px;
        margin: 4px;
        width: 15rem;
        font-family: "Monserrat", sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 800;
        color: #373a40;
        letter-spacing: 2px;
        border: none; }
      .formContainer form div select {
        width: 32rem; }
      .formContainer form div textarea {
        font-family: "Monserrat", sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 800;
        color: #373a40;
        padding: 1em;
        letter-spacing: 2px;
        border-radius: 15px;
        width: 48rem;
        height: 12rem;
        border: none; }

.form__submit--grey {
  background-color: #373a40; }

.actionCall--animation:hover h4 {
  color: #2e3035; }

.actionCall--animation:hover .actionCall__submit {
  background-color: #2e3035; }

footer {
  margin-top: 5rem;
  background-color: #373a40; }

.footer__div--links {
  background-color: #0aa0c5;
  padding: 4%; }
  .footer__div--links ul {
    list-style-type: none;
    display: flex;
    display: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center; }
    .footer__div--links ul img {
      height: 64px;
      transition: all 0.5s; }
    .footer__div--links ul img:hover {
      transform: scale(1.2); }

.footer__div--bottom p {
  font-family: "Monserrat", sans-serif;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 500;
  color: whitesmoke;
  text-align: center;
  padding: .5%;
  margin-bottom: 0; }

.presentation--display {
  justify-content: center;
  margin: 5% 5%; }

.presentation__article {
  margin-bottom: 5%;
  grid-column-gap: 2%; }
  .presentation__article img {
    width: 25rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 15px; }
  .presentation__article h3 {
    font-family: "Monserrat", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 800;
    color: #0aa0c5;
    margin: 1% 0% 3.5% 0%; }
  .presentation__article p {
    font-family: "Monserrat", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    color: #373a40;
    letter-spacing: .08em;
    text-align: justify; }

.presentation__article--backward, .divFundador {
  display: grid;
  grid-template-columns: auto 25rem;
  grid-template-rows: max-content auto;
  grid-template-areas: "title img" "textCard img"; }

.product--display {
  justify-content: center;
  padding-bottom: 3em;
  margin: 0% 4% 5% 4%; }
  .product--display h3 {
    font-family: "Monserrat", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: 0% 0% 5% 0%;
    padding: .5em;
    background-color: #19d3da;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }

.product__article--bg {
  background-color: #f8f8f8; }

.product__article--animation:hover {
  transform: scale(1.03); }
  .product__article--animation:hover h4 {
    color: whitesmoke; }

.actionCall--inlineBlock h4 {
  display: inline-block; }

.actionCall--inlineBlock form {
  display: inline-block; }

.cardQuienes {
  background-color: #373a40; }
  .cardQuienes p {
    color: whitesmoke; }

.divFundador {
  margin: 4% 12%;
  grid-column-gap: 2%; }
  .divFundador img {
    width: 30rem;
    height: 27rem;
    object-fit: cover;
    border-radius: 15px;
    object-position: center;
    grid-area: img; }
  .divFundador h4 {
    font-family: "Monserrat", sans-serif;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 800;
    color: #0aa0c5;
    margin: 2% 0% 3% 1%;
    grid-area: title; }
  .divFundador div {
    font-family: "Monserrat", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    color: #373a40;
    grid-area: textCard;
    align-items: center; }

.actionCall__form--padding form {
  padding-bottom: 1.8em; }

.productContainer {
  padding-bottom: 3em;
  margin: 0% 4% 5% 4%; }
  .productContainer h3 {
    font-family: "Monserrat", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: 0% 0% 3% 0%;
    padding: .5em;
    background-color: #19d3da;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }
  .productContainer p {
    font-family: "Lato", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    color: whitesmoke;
    letter-spacing: .05em;
    text-align: justify;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 1.5em; }

.productContainer--flex {
  justify-content: space-evenly; }

.productContainer__article {
  width: 21rem; }

.productContainer__article--wide {
  width: 30rem; }
  .productContainer__article--wide img {
    width: 30rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
  .productContainer__article--wide p {
    font-family: "Monserrat", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    color: #373a40;
    letter-spacing: .03em;
    padding: 1em; }

.productContainer--flexColumn {
  justify-content: space-evenly;
  align-items: center; }
  .productContainer--flexColumn h3 {
    align-self: stretch; }

.productContainer__submit {
  color: whitesmoke; }

.articleContainer {
  padding-bottom: 3em;
  margin: 0% 3% 5% 3%; }
  .articleContainer h3 {
    font-family: "Monserrat", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: 3% 0% 4% 0%;
    padding: .4em;
    background-color: #0aa0c5;
    border-radius: 15px; }

.cardContainer--flex {
  justify-content: space-between; }

.articleCard {
  justify-content: space-around;
  width: 29vw; }
  .articleCard img {
    height: 11rem; }
  .articleCard span {
    font-style: italic;
    color: grey; }
  .articleCard p {
    font-size: .9rem;
    padding: .5em 1em;
    margin-bottom: 0em;
    letter-spacing: .02em; }
  .articleCard div {
    margin-bottom: 1em; }
    .articleCard div a {
      font-size: .9rem;
      color: whitesmoke;
      text-decoration: none;
      background-color: #19d3da;
      padding: .3em 1em .3em .3em;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px; }

.blogLinkContainer {
  align-items: center;
  justify-content: center;
  margin: 3.5% 10%; }
  .blogLinkContainer h4 {
    padding: .7em;
    margin: 0%;
    font-family: "Monserrat", sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 900;
    color: #19d3da; }
  .blogLinkContainer img {
    margin-bottom: 1.8em; }
