// ----------------------------------------------------------------------------------
// RESET
// ----------------------------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ----------------------------------------------------------------------------------
// VARIABLES
// ----------------------------------------------------------------------------------
$darkBlue: #0aa0c5;
$lightBlue: #19d3da;
$lightGrey: #bbc0c9;
$darkGrey: #373a40;
$darkerGrey: #262627;
$smokeyWhite: rgb(248, 248, 248);
$ffLato: 'Lato', sans-serif;
$ffMonserrat: 'Monserrat', sans-serif;

// ----------------------------------------------------------------------------------
// MIXINS
// ----------------------------------------------------------------------------------
// mixin de imagenes
@mixin img($imgWidth, $imgHeight, $imgPosition, $imgBorder) {
    width: $imgWidth;
    height: $imgHeight;
    object-fit: $imgPosition;
    border-radius: $imgBorder;
}
// mixin de estilo de texto
@mixin textStyle($fontFamily, $fontSize, $fontStyle, $fontWeight, $fontColor) {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    color: $fontColor;
}
// ----------------------------------------------------------------------------------
// ARTICULO ANCHO
// ----------------------------------------------------------------------------------
// layout de articulo (grid)
%articleGridLayout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content auto;
    grid-template-areas: "img title" "img textCard";
    img {
        grid-area: img;
    }
    h3 {
        grid-area: title;
    }
    p {
        grid-area: textCard;
    }
}
// estilo de articulos
%articleStyle {
    margin: 1% 4% 2% 4%;
    border-radius: 15px;
    img {
        @include img(28rem, auto, cover, 15px);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        align-self: stretch;
        grid-area: img;
        max-height: 18.66rem;
    }
    h4 {
        @include textStyle($ffMonserrat, 2rem, normal, 800, $darkerGrey);
        padding: .4em;
        padding-left: 2rem;
        margin: 0em;
        grid-area: title;
        background-color: $lightBlue;
        border-top-right-radius: 15px;
        height: min-content;
    }
    p {
        @include textStyle($ffLato, 1.1rem, normal, 500, $darkGrey);
        letter-spacing: .05em;
        grid-area: textCard;
        padding-left: 2em;
        padding-right: 2em;
    }
}

// ----------------------------------------------------------------------------------
// CARDS
// ----------------------------------------------------------------------------------
%genericCard {
    background-color: whitesmoke;
    border-radius: 15px;
    img {
        @include img(auto, 15rem, cover, 15px);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    h4 {
        @include textStyle($ffMonserrat, 1.25rem, normal, 800, $darkGrey);
        background-color: $lightBlue;
        padding: .5em 1.25em;
    }
    ul {
        @include textStyle($ffMonserrat, 1rem, normal, 600, $darkGrey);
        letter-spacing: .03em;
        margin: .8em 1.4em .8em 0em;
    }
    p {
        @include textStyle($ffMonserrat, 1rem, normal, 600, $darkGrey);
        letter-spacing: .03em;
        width: auto;
        padding: 1em;
    }
}

// ----------------------------------------------------------------------------------
// ANIMACIONES
// ----------------------------------------------------------------------------------
%articleAnimation {
    transition: all 0.5s;
}
%articleAnimation:hover {
    transform: scale(1.06);
}
// gradiente usado en hover
%gradientHover {
    background: rgb(3,27,33);
    background: linear-gradient(42deg, rgba(3,27,33,1) 0%, rgba(10,160,197,1) 47%, rgba(25,211,218,1) 100%);
}
// ----------------------------------------------------------------------------------
// container oscuro
// ----------------------------------------------------------------------------------
%darkContainer {
    background-color: $darkerGrey;
    box-shadow: 0em 0em 1.5em rgba(0, 0, 0, 0.45);
    border-radius: 15px;
}
// ----------------------------------------------------------------------------------
// container claro
// ----------------------------------------------------------------------------------
%lightContainer {
    background-color: whitesmoke;
    box-shadow: 0em 0em 2em rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
// ----------------------------------------------------------------------------------
// FLEX LAYOUT
// ----------------------------------------------------------------------------------
%displayFlexColumn {
    display: flex;
    flex-direction: column;
}
%displayFlexRow {
    display: flex;
    flex-flow: row wrap;
}
// ----------------------------------------------------------------------------------
// boton
// ----------------------------------------------------------------------------------
%button {
    @include textStyle($ffMonserrat, .9rem, normal, 800, whitesmoke);
    width: auto;
}