// ----------------------------------------------------------------------------------
// barra de navegación
// ----------------------------------------------------------------------------------
.nav__logo--size {
    height: 70px;
}
.nav--background {
    background-color: $darkBlue;
}

.nav--width {
    width: 95%;
}
.nav__links {
    a {
        @include textStyle($ffLato, 1.3rem, normal, 800, $darkGrey);
    }
}
@media only screen and (max-width: 768px) {
    nav {
        padding-right: 2em;
        .nav__links {
            a {
            @include textStyle($ffLato, .9rem, normal, 800, $darkGrey);
            }
        }
    }
}
// ----------------------------------------------------------------------------------
// banner principal
// ----------------------------------------------------------------------------------
.banner__titulo {
    background-image: url(../img/box-cross-banner.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    height: 390px;
    margin-bottom: 4%;
    position: relative;
    h1 {
        @include textStyle($ffLato, 10rem, italic, 800, $darkBlue);
        margin-bottom: -2%;
        z-index: 1;
    }
    p {
        @include textStyle($ffLato, 4.5rem, initial, 900, $darkBlue);
        letter-spacing: .6em;
        padding-bottom: 0.5rem;
        padding-left: .6em;
        z-index: 1;
    }
    .banner__subtitle--page {
        @include textStyle($ffLato, 3.5rem, initial, 900, $lightBlue);
        display: inline;
        letter-spacing: .3em;
        width: 18em;
        align-self: center;
        margin: 0%;
        margin-top: -.6em;
        margin-right: -.3em;
        background: rgba(0,0,0,0.75);
        background-position: center;
        border-radius: 15px;
        z-index: 1;
    }
}
.banner__titulo::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.45);
}
@media only screen and (max-width: 768px) {
    .banner__titulo {
        h1 {
            font-size: 6.5rem;
        }
        p {
            font-size: 3rem;
        }
        .banner__subtitle--page {
            font-size: 2.5rem;
        }
    }
}

// ----------------------------------------------------------------------------------
// call to action
// ----------------------------------------------------------------------------------
// layout del call to action -----
.actionCall--flexRow {
    @extend %displayFlexRow;
    justify-content: center;
    align-items: center;
}

// call to action container -----
.actionCall {
    @extend %darkContainer;
    margin: 3.5% 10%;
    text-align: center;
    h4 {
        padding: .7em;
        margin: 0%;
        @include textStyle($ffMonserrat, 2.125rem, normal, 900, $lightBlue);
    }
    input {
        padding: 4px;
        border-radius: 10px;
        margin: 4px;
        width: 300px;
        @include textStyle($ffMonserrat, .9rem, normal, 800, $darkGrey);
        letter-spacing: 2px;
        border: none;
    }
    .actionCall__submit {
        @extend %button;
        background-color: $lightBlue;
    }
}
// animación del call to action --
.actionCall--animation {
    @extend %articleAnimation;
}
.actionCall--animation:hover {
    @extend %articleAnimation:hover;
    @extend %gradientHover;
    h4 {
        color: $darkerGrey;
    }
    .actionCall__submit {
        background-color: $darkerGrey;
    }
}
@media only screen and (max-width: 768px) {
    .actionCall {
        h4 {
            padding-bottom: .2em;
        }
        form {
            margin-bottom: 1.75em;
        }
    }
}
// ----------------------------------------------------------------------------------
// form
// ----------------------------------------------------------------------------------
.formContainer {
    margin: auto;
    @extend %displayFlexColumn;
    background-color: $lightBlue;
    border-radius: 15px;
<<<<<<< HEAD
    padding-bottom: 1em;
    margin-bottom: 2.25em;
=======
    justify-items: center;
    width: 90vw;
>>>>>>> responsive-768px
    h4 {
        @include textStyle($ffMonserrat, 2.125rem, normal, 900, $darkGrey);
        margin: 1em;
        text-align: center;
    }
    p {
        @include textStyle($ffMonserrat, 1.5rem, normal, 800, whitesmoke);
        letter-spacing: .05em;
        padding-left: 4em;
        padding-right: 4em;
        margin-bottom: 1.5em;
        text-transform: uppercase;
        text-align: center;
    }
    form {
        @extend %displayFlexRow;
        justify-content: center;
        .formContainer__form--grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas: 
            "nombre apellido"
            "mail tel"
            "selector selector"
            "consulta consulta"
            "submit submit";
            width: 80%;
            justify-items: stretch;
            text-align: left;
            align-items: center;
            .form__div--nombre {
                grid-area: nombre;
            }
            .form__div--apellido {
                grid-area: apellido;
            }
            .form__div--mail {
                grid-area: mail;
            }
            .form__div--tel {
                grid-area: tel;
            }
            .form__div--selector {
                grid-area: selector;
                select {
                    flex: 1;
                    padding: 7px;
                    border-radius: 10px;
                    margin: 4px;
                    @include textStyle($ffMonserrat, 1rem, normal, 800, $darkGrey);
                    letter-spacing: 2px;
                    border: none;
                }
            }
            .form__div--consulta {
                grid-area: consulta;
                textarea {
                    @include textStyle($ffMonserrat, 1rem, normal, 800, $darkGrey);
                    padding: 1em;
                    letter-spacing: 2px;
                    border-radius: 15px;
                    width: 100%;
                    height: 12rem;
                    border: none;
                }  
            }
            .form__div--submit {
                grid-area: submit;
                justify-self: center;
                input {
                    @extend %button;
                    @include textStyle($ffMonserrat, 1rem, normal, 800, whitesmoke);
                    background-color: $darkGrey;
                }
            }
            div {
                @extend %displayFlexRow;
                justify-content: space-between;
                margin-bottom: 1rem;
                label {
                    padding: 7px 1em 7px 0em;
                    margin: 4px;
                    @include textStyle($ffMonserrat, 1rem, normal, 800, $darkGrey);
                    letter-spacing: 2px;
                }
                input {
                    flex-grow: 1;
                    padding: 7px;
                    border-radius: 10px;
                    margin: 4px;
                    // width: 15rem;
                    @include textStyle($ffMonserrat, 1rem, normal, 800, $darkGrey);
                    letter-spacing: 2px;
                    border: none;
                }
            }
        }
    }   
}
@media only screen and (max-width: 768px) {
    .formContainer {
        p {
            padding-left: 2em;
            padding-right: 2em;
        }
    }
}
// ----------------------------------------------------------------------------------
// footer
// ----------------------------------------------------------------------------------
footer {
    margin-top: 5rem;
    background-color: $darkGrey;
}
.footer__div--links {
    background-color: $darkBlue;
    padding: 4%;
    ul {
        list-style-type: none;
        display: flex;
        display: row wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        img {
            height: 64px;
            transition: all 0.5s;
        }
        img:hover {
            transform: scale(1.2);
        }
    }
}
.footer__div--bottom {
    p {
        @include textStyle($ffMonserrat, 1.3rem, italic, 500, whitesmoke);
        text-align: center;
        padding: .5%;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    .footer__div--links {
        padding: 3%;
        padding-bottom: 1%;
        ul {
            img {
                height: 50px;
            }
        }
    }
}