// contenedor de articulos del blog mas el titulo 
.articleContainer {
    @extend %displayFlexColumn;
    margin: 0% 2% 5% 2%;
    h3 {
        @include textStyle($ffMonserrat, 3rem, normal, 900, white);
        text-align: center;
        margin: 3% 0% 4% 0%;
        padding: .4em;
        background-color: $darkBlue;
        border-radius: 15px;
    }
}
// contenedor de las cards con flex (cada card es un articulo) 
.cardContainer--flex {
    @extend %displayFlexRow;
    justify-content: space-between;
}
// cards de articulos del blog 
.articleCard {
    @extend %genericCard;
    @extend %lightContainer;
    @extend %displayFlexColumn;
    justify-content: space-between;
    width: 23.8rem;
    margin: 0 auto 2em auto;
    img {
        height: 12rem;
    }
    h4 {
        margin-top: -.5em;
    }
    span {
        font-style: italic;
        color: grey;
    }
    p {
        font-size: .9rem;
        padding: .5em 1em;
        margin-bottom: 0em;
        letter-spacing: .02em;
    }
    div {
        margin-bottom: 1em;
        a {
            @extend %button;
            font-size: .9rem;
            color: whitesmoke;
            text-decoration: none;
            background-color: $lightBlue;
            padding: .3em 1em .3em .3em;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}
// animacion de las card 
.articleCard--animation {
    @extend %articleAnimation;
}
.articleCard--animation:hover {
    @extend %articleAnimation:hover;
}

// call to action de pagina de blog 
.blogLinkContainer {
    @extend .actionCall; 
    @extend %displayFlexColumn;
    @extend %articleAnimation;
    align-items: center;
    justify-content: center;
    margin: 3% 25%;
    h4 {
        padding: .3em;
        font-size: 2.5rem;
    }
    img {
        height: 2.125rem;
        margin-bottom: 1em;
    }
}

// responsive de blog.html hasta 800px 
@media only screen and (max-width: 800px) {
    .blogLinkContainer {
        h4 {
            font-size: 2rem;
            padding: .5em 0em;
        }
    }
}
// responsive de blog.html hasta 600px 
@media only screen and (min-width: 360px) and (max-width: 600px) {
    .blogLinkContainer {
        margin: 3%;
        img {
            height: 1.8rem;
            margin-bottom: 1.1em;
        }
    }
}