.formContainer--custom {
    h4 {
        text-align: center;
    }

    .formContainer__select--custom {
        width: 100%;
        justify-content: space-between;
        label {
            width: fit-content;
        }
        input {
            width: auto;
        }
        select {
            width: 18.5rem;
        }
    }
}