.formContainer--custom {
    width: 95%;
    align-items: center;
    h4 {
        text-align: center;
    }
    form {
        width: fit-content;
        .formContainer__select--custom {
            width: 100%;
            justify-content: space-between;
            label {
                width: fit-content;
            }
            input {
                width: auto;
            }
            select {
                width: 18.5rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .formContainer--custom {
        form {
            width: 75vw;
        }
    }
}