// Estilo de cards de presentación
.presentation--display {
    @extend %displayFlexColumn;
    justify-content: center;
    margin: 5% 5%
}
.presentation__article {
    @extend %articleGridLayout;
    margin-bottom: 5%;
    grid-column-gap: 2%;
    img {
        @include img(25rem, 15rem, cover, 15px);
    }
    h3 {
        @include textStyle($ffMonserrat, 1.8rem, normal, 800, $darkBlue);
        margin: 1% 0% 3.5% 0%;
    }
    p {
        @include textStyle($ffMonserrat, 1.25rem, normal, 500, $darkGrey);
        letter-spacing: .08em;
        text-align: justify;
    }
}
// card de seccion de presentacion que tiene los elementos (img, titulo, p) en orden inverso 
.presentation__article--backward {
    display: grid;
    grid-template-columns: auto 25rem;
    grid-template-rows: max-content auto;
    grid-template-areas: 
    "title img"
    "textCard img";
}

// Estilo seccion de productos
// contenedor de cards de productos
.product--display {
    @extend %displayFlexColumn;
    justify-content: center;
    @extend %darkContainer;
    padding-bottom: 3em;
    margin: 0% 4% 5.25% 4%;
    h3 {
        @include textStyle($ffMonserrat, 3rem, normal, 900, white);
        text-align: center;
        margin: 0% 0% 5% 0%;
        padding: .5em;
        background-color: $lightBlue;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}
// cards de los productos
.product__article {
    @extend %articleGridLayout;
    @extend %articleStyle
}
.product__article--bg {
    background-color: $smokeyWhite;
}
.product__article--animation {
    @extend %articleAnimation;
}
.product__article--animation:hover {
    transform: scale(1.03);
    h4 {
        color: whitesmoke;
        @extend %gradientHover;
    }
}

// estilo de call to action
.actionCall--inlineBlock {
    h4 {
        display: inline-block;
    }
    form {
        display: inline-block;
    }
}

// responsive de index.html hasta 800px
@media only screen and (max-width: 800px) {
    // responsive de seccion de presentacion
    .presentation__article {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "img" "title" "textCard";
        img {
            @include img(90vw, 20rem, cover, 15px);
            margin-bottom: 1em;
        }
        p {
            padding-top: 0em;
        }
    }
    .product--display {
        padding-bottom: 1em;
    }
    // responsive de cards de productos de index.html
    .product__article {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "img" "title" "textCard";
        margin-bottom: 5%;
        img {
            @include img(100%, 15rem, cover, 15px);
            border-radius: 15px 15px 0px 0px;
            }
        h4 {
            border-radius: 0px;
            }
        }
        p {
            padding-top: 1em;
        }
}
// responsive de index.html hasta 600px 
@media only screen and (max-width:600px) {
    .product--display {
        h3 {
            font-size: 2.25em;
        }
        padding-bottom: 0em;
    }
    .product__article {
        width: 85vw;
        margin-bottom: 2em;
        img {
            @include img(85vw, 15rem, cover, 15px);
            border-radius: 15px 15px 0px 0px;
        }
        h4 {
            width: 85vw;
            padding: .4em;
            font-size: 1.6em;
            text-align: center;
        }

    }
}