// div contenedor de productos mas titulo y texto
.productContainer {
    @extend %darkContainer;
    padding-bottom: 1em;
    margin: 0% 3% 5% 3%;
    h3 {
        @include textStyle($ffMonserrat, 3rem, normal, 900, white);
        text-align: center;
        margin: 0% 0% 3% 0%;
        padding: .5em;
        background-color: $lightBlue;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    p {
        @include textStyle($ffLato, 1.25rem, normal, 500, whitesmoke);
        letter-spacing: .05em;
        text-align: justify;
        padding-left: 4em;
        padding-right: 4em;
        margin-bottom: 1.5em;
    }
}
// div con flex que contiene las cards
.productContainer--flex {
    @extend %displayFlexRow;
    justify-content: space-evenly;
}
// cards (articulos) con los productos
.productContainer__article {
    @extend %displayFlexColumn;
    @extend %genericCard;
    width: 23rem;
    margin-bottom: 2em;
}
.productContainer__article--animation {
    @extend %articleAnimation;
}
// cards (articulos) anchos
.productContainer__article--wide {
    width: 30rem;
    img {
        @include img(30rem, 15rem, cover, 15px);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    p {
        @include textStyle($ffMonserrat, 1rem, normal, 600, $darkGrey);
        letter-spacing: .03em;
        padding: 1em;
    }
}
// animación de la card (articulo)
.productContainer__article--animation:hover {
    @extend %articleAnimation:hover;
}
// div con flex que contiene el formulario
.productContainer--flexColumn {
    @extend %displayFlexColumn;
    justify-content: space-evenly;
    align-items: center;
    h3 {
        align-self: stretch;
    }
}

// responsive pagina de productos
@media only screen and (max-width: 768px) {
    .productContainer {
        p {
            padding: 0em 2em;
        }
    }
    .productContainer__article {
        margin: 1em 2em;
    }
}
@media only screen and (min-width: 360px) and (max-width: 600px) {
    .productContainer {
        h3 {
            font-size: 1.8em;
        }
        p {
            margin-top: 2em;
        }
    }
    .productContainer__article {
        width: 85vw;
    }
    .productContainer__article--wide {
        img {
            width: 85vw;
        }
    }
}