// tarjeta de quienes somos
.cardQuienes {
    @extend %articleGridLayout;
    @extend %articleStyle;
    background-color: $darkGrey;
    p {
        color: whitesmoke;
    }
}

// estilo de seccion de presentación del fundador 
.divFundador {
    @extend .presentation__article--backward;
    margin: 4% 12%;
    grid-column-gap: 2%;
    img {
        @include img(30rem, 27rem, cover, 15px);
        object-position: center;
        grid-area: img;
    }
    h4 {
        @include textStyle($ffMonserrat, 2.1rem, normal, 800, $darkBlue);
        margin: 2% 0% 3% 1%;
        grid-area: title;
    }
    div {
        @include textStyle($ffMonserrat, 1.25rem, normal, 500, $darkGrey);
        grid-area: textCard;
        align-items: center;
        text-align: justify;
    }
}

// clase modificadora de call to action de sobre-nosotros.html 
.actionCall__form--padding {
    form {
        padding-bottom: 1.85em;
    }
}

// responsive pagina de sobre-nosotros.html hasta 800px
@media only screen and (max-width: 800px) {
    .cardQuienes {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "img" "title" "textCard";
        img {
            @include img(100%, 15rem, cover, 15px);
            object-position: top;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 0px;
        }
        h4 {
            padding-left: .9em;
            margin-bottom: 0em;
            border-radius: 0px;
        }
        p {
            padding-top: 1em;
        }
    }
    .divFundador {
        margin: 4% 8%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "img" "title" "textCard";
        img {
            @include img(100%, 28rem, cover, 15px);
            object-position: center;
            border-radius: 15px;
        }
        h4 {
            padding: .2em 0em;
            margin-bottom: .4em;
        }
    }
}
// responsive pagina de sobre-nosotros.html hasta 600px
@media only screen and (max-width:600px) {
    .cardQuienes {
        img {
            border-bottom-left-radius: 0px;
        }
    }
}